In [839]:
import pandas as pd

In [841]:
import seaborn as sea

In [843]:
import matplotlib.pyplot as mp

In [845]:
import numpy as np

In [847]:
import os

In [849]:
os.path.isfile(r'C:\Users\48730\Downloads\cafe_durty_data\dirty_cafe_sales.csv')

True

In [851]:
original = pd.read_csv(r'C:\Users\48730\Downloads\cafe_durty_data\dirty_cafe_sales.csv')

In [853]:
print('inspections started')

inspections started

In [1123]:
cafe=original.copy()

In [1125]:
cafe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [1127]:
cafe.shape

(10000, 8)

In [1129]:
cafe.describe()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
count,10000,9667,9862,9821,9827,7421,6735,9841
unique,10000,10,7,8,19,5,4,367
top,TXN_1961373,Juice,5,3.0,6.0,Digital Wallet,Takeaway,UNKNOWN
freq,1,1171,2013,2429,979,2291,3022,159

In [1131]:
cafe.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [1133]:
cafe.tail()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
9995,TXN_7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [1135]:
cafe.iloc[9984]

Transaction ID      TXN_3142496
Item                   Smoothie
Quantity                UNKNOWN
Price Per Unit              4.0
Total Spent                 4.0
Payment Method             Cash
Location               Takeaway
Transaction Date     2023-07-27
Name: 9984, dtype: object

In [1137]:
cafe['Total Spent']

0         4.0
1        12.0
2       ERROR
3        10.0
4         4.0
        ...
9995      4.0
9996      3.0
9997      8.0
9998      3.0
9999     12.0
Name: Total Spent, Length: 10000, dtype: object

In [1139]:
cafe.columns

Index(['Transaction ID', 'Item', 'Quantity', 'Price Per Unit', 'Total Spent',
       'Payment Method', 'Location', 'Transaction Date'],
      dtype='object')

In [1141]:
cafe.nunique()

Transaction ID      10000
Item                   10
Quantity                7
Price Per Unit          8
Total Spent            19
Payment Method          5
Location                4
Transaction Date      367
dtype: int64

In [1143]:
cafe['Item'].unique()

array(['Coffee', 'Cake', 'Cookie', 'Salad', 'Smoothie', 'UNKNOWN',
       'Sandwich', nan, 'ERROR', 'Juice', 'Tea'], dtype=object)

In [1145]:
cafe['Item'].unique()

array(['Coffee', 'Cake', 'Cookie', 'Salad', 'Smoothie', 'UNKNOWN',
       'Sandwich', nan, 'ERROR', 'Juice', 'Tea'], dtype=object)

In [1146]:
cafe['Item'].apply(
lambda v:None if (pd.isna(v) or str(v).strip().lower()=='nan') else v 
)

0         Coffee
1           Cake
2         Cookie
3          Salad
4         Coffee
          ...
9995      Coffee
9996        None
9997      Coffee
9998      Cookie
9999    Sandwich
Name: Item, Length: 10000, dtype: object

In [1147]:
np.nan

nan

In [1151]:
cafe.value_counts().head()

Transaction ID  Item     Quantity  Price Per Unit  Total Spent  Payment Method  Location  Transaction Date
TXN_1000555     Tea      1         1.5             1.5          Credit Card     In-store  2023-10-19          1
TXN_6868182     UNKNOWN  5         4.0             20.0         Credit Card     UNKNOWN   2023-01-02          1
TXN_6874195     Juice    3         3.0             9.0          Cash            Takeaway  2023-04-22          1
TXN_6873127     Cookie   1         1.0             1.0          UNKNOWN         In-store  2023-02-02          1
TXN_6872268     Juice    2         3.0             6.0          Digital Wallet  In-store  2023-01-07          1
Name: count, dtype: int64

In [1153]:
print('Cleaning start...........')

Cleaning start...........

In [1155]:
cafe.columns = cafe.columns.str.strip().str.capitalize().str.replace(r' ','_')

In [1157]:
cafe['Item']=cafe['Item'].replace(['nan','UNKNOWN','ERROR'],None)

In [1159]:
cafe['Quantity']=pd.to_numeric(cafe['Quantity'],errors='coerce')
cafe['Price_per_unit']=pd.to_numeric(cafe['Price_per_unit'],errors='coerce')
cafe['Total_spent']=pd.to_numeric(cafe['Total_spent'],errors='coerce')

In [1161]:
cafe['Transaction_date']=pd.to_datetime(cafe['Transaction_date'],errors='coerce')

In [1163]:
cafe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction_id    10000 non-null  object
 1   Item              9031 non-null   object
 2   Quantity          9521 non-null   float64
 3   Price_per_unit    9467 non-null   float64
 4   Total_spent       9498 non-null   float64
 5   Payment_method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction_date  9540 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 625.1+ KB

In [1165]:
cafe['help_col']=cafe['Price_per_unit']*cafe['Quantity']
mapping= cafe.dropna(subset='Item').set_index('help_col')['Item'].to_dict()
cafe['Item'] = cafe.apply(
lambda row:
    mapping.get(row['help_col'],row['Item']),axis=1
)
cafe.drop(columns=['help_col'],inplace=True)

In [1167]:
cafe['Quantity']=cafe.apply(
lambda r: r['Total_spent'] / r['Price_per_unit'] if pd.isna(r['Quantity']) else r['Quantity'],axis=1
)

In [1169]:
cafe['Price_per_unit']=cafe.apply(
lambda r: r['Total_spent'] / r['Quantity'] if pd.isna(r['Price_per_unit']) else r['Price_per_unit'],axis=1
)

In [1171]:
cafe['Total_spent']=cafe.apply(
lambda r: r['Price_per_unit'] * r['Quantity'] if pd.isna(r['Total_spent']) else r['Total_spent'],axis=1
)

In [1173]:
cafe[['Quantity','Price_per_unit','Total_spent']].isna().value_counts()

Quantity  Price_per_unit  Total_spent
False     False           False          9942
          True            True             20
True      False           True             20
          True            False            18
Name: count, dtype: int64

In [1175]:
cafe[['Quantity','Price_per_unit','Total_spent']]=cafe[['Quantity','Price_per_unit','Total_spent']].fillna(0)

In [1177]:
cafe['Item'].isna().value_counts()

Item
False    9890
True      110
Name: count, dtype: int64

In [1179]:
cafe['Payment_method'].unique()

array(['Credit Card', 'Cash', 'UNKNOWN', 'Digital Wallet', 'ERROR', nan],
      dtype=object)

In [1197]:
cafe['Location'].unique()

array(['Takeaway', 'In-store', 'UNKNOWN', nan, 'ERROR'], dtype=object)

In [1181]:
cafe['Payment_method']=cafe['Payment_method'].replace(['UNKNOWN','ERROR'],None)

In [1199]:
cafe['Location']=cafe['Location'].replace(['UNKNOWN','ERROR'],None)

In [1203]:
cafe['new_col']=cafe['Price_per_unit']*cafe['Quantity']
mapping= cafe.dropna(subset='Payment_method').set_index('new_col')['Payment_method'].to_dict()
cafe['Payment_method'] = cafe.apply(
lambda row:
    mapping.get(row['new_col'],row['Payment_method']),axis=1
)
cafe.drop(columns=['new_col'],inplace=True)

In [1207]:
cafe['new_col2']=cafe['Price_per_unit']*cafe['Quantity']
mapping= cafe.dropna(subset='Location').set_index('new_col2')['Location'].to_dict()
cafe['Location'] = cafe.apply(
lambda row:
    mapping.get(row['new_col2'],row['Location']),axis=1
)
cafe.drop(columns=['new_col2'],inplace=True)

In [1269]:
cafe['Transaction_date']=np.where(
    cafe['Transaction_date']=='nothing',
    None,
    cafe['Transaction_date']
)

In [1273]:
cafe['Payment_method'].unique()

array(['Cash', 'Digital Wallet', 'Credit Card'], dtype=object)

In [1279]:
cafe['Transaction_date'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 10000 entries, 0 to 9999
Series name: Transaction_date
Non-Null Count  Dtype
--------------  -----
9540 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 78.3 KB

In [1277]:
cafe.tail(50)

,Transaction_id,Item,Quantity,Price_per_unit,Total_spent,Payment_method,Location,Transaction_date
9950,TXN_2818204,Cake,1.0,3.0,3.0,Digital Wallet,In-store,2023-03-09
9951,TXN_4122925,Coffee,4.0,1.0,4.0,Cash,Takeaway,2023-10-20
9952,TXN_9407169,Coffee,1.0,4.0,4.0,Cash,Takeaway,2023-01-28
9953,TXN_8966400,Juice,5.0,3.0,15.0,Cash,Takeaway,2023-11-29
9954,TXN_1191659,Coffee,4.0,2.0,8.0,Digital Wallet,In-store,2023-11-21
9955,TXN_9187008,Cake,4.0,1.5,6.0,Digital Wallet,In-store,2023-09-16
9956,TXN_1958525,Cake,3.0,1.0,3.0,Digital Wallet,In-store,2023-10-08
9957,TXN_6487003,Coffee,4.0,2.0,8.0,Digital Wallet,In-store,2023-11-15
9958,TXN_4125474,Coffee,2.0,5.0,10.0,Digital Wallet,In-store,2023-08-02
9959,TXN_4556831,Cake,2.0,3.0,6.0,Digital Wallet,In-store,2023-05-28
9960,TXN_3546629,Juice,5.0,3.0,15.0,Cash,Takeaway,2023-03-04
9961,TXN_2153100,Tea,2.0,1.5,3.0,Digital Wallet,In-store,2023-12-29
9962,TXN_4723089,Smoothie,4.0,4.0,16.0,Cash,In-store,2023-05-23
9963,TXN_8545707,Juice,5.0,3.0,15.0,Cash,Takeaway,2023-02-14
9964,TXN_8938445,Cake,3.0,3.0,9.0,Credit Card,In-store,2023-11-07
9965,TXN_5846013,Cake,2.0,1.5,3.0,Digital Wallet,In-store,2023-12-20
9966,TXN_6494265,Coffee,2.0,2.0,4.0,Cash,Takeaway,2023-05-24
9967,TXN_8563793,Sandwich,4.0,3.0,12.0,Cash,In-store,2023-03-26
9968,TXN_8866974,Sandwich,3.0,4.0,12.0,Cash,In-store,2023-03-14
9969,TXN_9954652,Coffee,2.0,2.0,4.0,Cash,Takeaway,2023-09-12
9970,TXN_5762440,Smoothie,5.0,4.0,20.0,Digital Wallet,In-store,2023-03-05
9971,TXN_6120851,Salad,5.0,5.0,25.0,Cash,Takeaway,2023-02-04
9972,TXN_3124078,Sandwich,4.0,3.0,12.0,Cash,In-store,2023-08-06
9973,TXN_7936002,Coffee,2.0,5.0,10.0,Digital Wallet,In-store,2023-01-26
9974,TXN_8076061,Cake,4.0,1.5,6.0,Digital Wallet,In-store,2023-04-01
9975,TXN_9668108,Cake,1.0,3.0,3.0,Digital Wallet,In-store,2023-01-20
9976,TXN_3528020,Cookie,1.0,1.0,1.0,Digital Wallet,Takeaway,2023-08-26
9977,TXN_5548914,Cake,2.0,3.0,6.0,Digital Wallet,In-store,2023-11-04
9978,TXN_4302199,Tea,3.0,1.5,4.5,Digital Wallet,In-store,2023-02-16
9979,TXN_9933628,Smoothie,5.0,4.0,20.0,Digital Wallet,In-store,2023-07-20
9980,TXN_6796890,Cake,4.0,1.5,6.0,Digital Wallet,In-store,2023-08-24
9981,TXN_4583012,Smoothie,5.0,4.0,20.0,Digital Wallet,In-store,2023-02-27
9982,TXN_8567525,Cookie,2.0,1.0,2.0,Cash,Takeaway,2023-12-30
9983,TXN_9226047,Sandwich,3.0,4.0,12.0,Cash,In-store,NaT
9984,TXN_3142496,Smoothie,1.0,4.0,4.0,Cash,Takeaway,2023-07-27
9985,TXN_3297457,Cake,2.0,3.0,6.0,Digital Wallet,In-store,2023-01-03
9986,TXN_2858441,Coffee,2.0,4.0,8.0,Digital Wallet,In-store,2023-12-14
9987,TXN_1784478,Juice,5.0,3.0,15.0,Cash,Takeaway,2023-07-31
9988,TXN_9594133,Juice,5.0,3.0,15.0,Cash,Takeaway,NaT
9989,TXN_1741685,Juice,5.0,3.0,15.0,Cash,Takeaway,2023-08-18
9990,TXN_1538510,Coffee,5.0,2.0,10.0,Digital Wallet,In-store,2023-05-22
9991,TXN_3897619,Sandwich,3.0,4.0,12.0,Cash,In-store,2023-02-24
9992,TXN_2739140,Smoothie,4.0,4.0,16.0,Cash,In-store,2023-07-05
9993,TXN_4766549,Coffee,2.0,4.0,8.0,Digital Wallet,In-store,2023-10-20
9994,TXN_7851634,Smoothie,4.0,4.0,16.0,Cash,In-store,2023-01-08
9995,TXN_7672686,Coffee,2.0,2.0,4.0,Cash,Takeaway,2023-08-30
9996,TXN_9659401,NaN,3.0,1.0,3.0,Digital Wallet,In-store,2023-06-02
9997,TXN_5255387,Coffee,4.0,2.0,8.0,Digital Wallet,In-store,2023-03-02
9998,TXN_7695629,Cookie,3.0,1.0,3.0,Digital Wallet,In-store,2023-12-02
9999,TXN_6170729,Sandwich,3.0,4.0,12.0,Cash,In-store,2023-11-07

In [1283]:
cafe.to_csv("cleaned.csv", index=False)

In [1285]:
os.getcwd()

'C:\\Users\\48730'

In [1287]:
folder=r'C:\\Users\\48730'

In [1289]:
folder

'C:\\\\Users\\\\48730'